<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="expires" content="0">

  <title></title>
  <base href="/">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="bower_components/angularjs-slider/dist/rzslider.css" />
  <link rel="stylesheet" href="bower_components/v-accordion/dist/v-accordion.css" />
  <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
  <link rel="stylesheet" href="bower_components/ngImgCrop/compile/minified/ng-img-crop.css" />
  <link rel="stylesheet" href="bower_components/textAngular/dist/textAngular.css" />
  <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
  <link rel="stylesheet" href="bower_components/angular-ui-carousel/dist/ui-carousel.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link href="styles/rating/jk-rating-stars.css" rel="stylesheet" />
  <link href="styles/datepicker/jquery-ui.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

</head>
<body ng-app="tcsGruntApp">
  <!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!-- Add your site or application content here -->
  <div class="matteria-nav container-fluid" ng-controller="HeaderCtrl">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#matteria-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!--<a class="navbar-brand cargador" href="/">
            <img class="img-responsive post-carga" width="100" height="100" data-src="{{lg}}" />
          </a>-->

          <a class="navbar-brand" href="/" ng-if="idiomaLocal == 'es_MX'">
            <img class="img-responsive" width="100" height="100" ng-src="{{lg}}" />
          </a>

          <a class="navbar-brand" href="/" ng-if="idiomaLocal == 'en_EN'">
            <img class="img-responsive" width="100" height="100" ng-src="{{lg}}" />
          </a>
        </div>
        <div id="matteria-navbar" class="navbar-collapse collapse text-center">
          <ul class="nav navbar-nav navbar-right matteria-navbar hidden-xs">
            <li class="dropdown">
              <a href ui-sref="organizaciones({scrollTo: ''})" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true" role="button" aria-expanded="false"><span class="negrita" ng-if="idiomaLocal == 'es_MX'">Para<br />Organizaciones</span><span ng-if="idiomaLocal == 'en_EN'" class="negrita">For<br />Organizations</span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a ng-if="idiomaLocal == 'es_MX'" href ui-sref="ingresa({user: 'organizacion'})" style="padding:10px 10px 10px 10px;"> Ingreso</a><a ng-if="idiomaLocal == 'en_EN'" href ui-sref="ingresa({user: 'organizacion'})" style="padding:10px 10px 10px 10px;"> Log In</a></li>
                <li><a ng-if="idiomaLocal == 'es_MX'" href ui-sref="registro({user: 'organizacion'})" style="padding:10px 10px 10px 10px;"> Registro</a><a ng-if="idiomaLocal == 'en_EN'" href ui-sref="registro({user: 'organizacion'})" style="padding:10px 10px 10px 10px;"> Sign Up</a></li>
                <li><a ng-if="idiomaLocal == 'es_MX'" href ui-sref="organizaciones({scrollTo: 'servicios'})" style="padding:10px 10px 10px 10px;"> Nuestros Servicios</a><a ng-if="idiomaLocal == 'en_EN'" href ui-sref="organizaciones({scrollTo: 'servicios'})" style="padding:10px 10px 10px 10px;"> What we do</a></li>
                <li><a ng-if="idiomaLocal == 'es_MX'" href ui-sref="organizaciones({scrollTo: 'candidatos'})" style="padding:10px 10px 10px 10px;"> Nuestros Postulantes</a><a ng-if="idiomaLocal == 'en_EN'" href ui-sref="organizaciones({scrollTo: 'candidatos'})" style="padding:10px 10px 10px 10px;"> Our candidates</a></li>
                <li><a ng-if="idiomaLocal == 'es_MX'" href ui-sref="organizaciones({scrollTo: 'vacantes'})" style="padding:10px 10px 10px 10px;"> Vacantes Cubiertas</a><a ng-if="idiomaLocal == 'en_EN'" href ui-sref="organizaciones({scrollTo: 'vacantes'})" style="padding:10px 10px 10px 10px;"> Roles we have placed</a></li>
                <li><a ng-if="idiomaLocal == 'es_MX'" href="/clientes" style="padding:10px 10px 10px 10px;"> Nuestros Clientes</a><a ng-if="idiomaLocal == 'en_EN'" href="/clientes" style="padding:10px 10px 10px 10px;"> Our clients </a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href ui-sref="comofunciona({scrollTo: 'comofunciona'})" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true" role="button" aria-expanded="false"><span class="negrita" ng-if="idiomaLocal == 'es_MX'">Para<br />Postulantes</span><span class="negrita" ng-if="idiomaLocal == 'en_EN'">For<br />Candidates</span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a ng-if="idiomaLocal == 'es_MX'" href ui-sref="ingresa({user: 'postulante'})" style="padding:10px 10px 10px 10px;"> Ingreso</a><a ng-if="idiomaLocal == 'en_EN'" href ui-sref="ingresa({user: 'postulante'})" style="padding:10px 10px 10px 10px;"> Log In</a></li>
                <li><a ng-if="idiomaLocal == 'es_MX'" href ui-sref="registro({user: 'postulante'})" style="padding:10px 10px 10px 10px;"> Registro</a><a ng-if="idiomaLocal == 'en_EN'" href ui-sref="registro({user: 'postulante'})" style="padding:10px 10px 10px 10px;"> Sign Up</a></li>
                <li><a ng-if="idiomaLocal == 'es_MX'" href ui-sref="comofunciona({scrollTo: 'vacantes'})" style="padding:10px 10px 10px 10px;"> Vacantes</a><a ng-if="idiomaLocal == 'en_EN'" href ui-sref="comofunciona({scrollTo: 'vacantes'})" style="padding:10px 10px 10px 10px;"> Job vacancies</a></li>
                <li><a ng-if="idiomaLocal == 'es_MX'" href="/comofuncionahead" style="padding:10px 10px 10px 10px;"> Cómo Funciona</a><a ng-if="idiomaLocal == 'en_EN'" href="/comofuncionahead" style="padding:10px 10px 10px 10px;"> How it works</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href ui-sref="quienessomos({scrollTo: ''})" class="dropdown-toggle" data-toggle="dropdown" role="button" data-hover="dropdown" data-delay="1000" data-close-others="true" aria-expanded="false"><span class="negrita" ng-if="idiomaLocal == 'es_MX'">Quiénes<br />Somos</span><span class="negrita" ng-if="idiomaLocal == 'en_EN'">About<br />matteria</span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href ui-sref="quienessomos({scrollTo: 'manifiesto'})" style="padding:10px 10px 10px 10px;"><span ng-if="idiomaLocal == 'es_MX'">Manifiesto Matteria</span><span ng-if="idiomaLocal == 'en_EN'">Our manifesto</span></a></li>
                <li><a href ui-sref="quienessomos({scrollTo: 'direfencia'})" style="padding:10px 10px 10px 10px;"><span ng-if="idiomaLocal == 'es_MX'">Nuestra Diferencia</span><span ng-if="idiomaLocal == 'en_EN'">How we are different</span></a></li>
                <li><a href ui-sref="quienessomos({scrollTo: 'valores'})" style="padding:10px 10px 10px 10px;"><span ng-if="idiomaLocal == 'es_MX'">Nuestro ADN</span><span ng-if="idiomaLocal == 'en_EN'">Our DNA</span></a></li>
                <li><a href ui-sref="quienessomos({scrollTo: 'equipo'})" style="padding:10px 10px 10px 10px;"><span ng-if="idiomaLocal == 'es_MX'">Equipo</span><span ng-if="idiomaLocal == 'en_EN'">Our team </span></a></li>
                <li><a href ui-sref="quienessomos({scrollTo: 'contacto'})" style="padding:10px 10px 10px 10px;"><span ng-if="idiomaLocal == 'es_MX'">Contáctanos</span><span ng-if="idiomaLocal == 'en_EN'">Contact </span></a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="/blog"><span class="negrita"><span ng-if="idiomaLocal == 'es_MX'">Noticias y<br />Contenido<br /></span><span ng-if="idiomaLocal == 'en_EN'">News <br />and Content<br /></span></span></a></li>
            
         
            <!--<li class="dropdown">              
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><br /><span class="negrita">{{lg}}</span><span class="caret"><br /></span></a>
              <ul class="dropdown-menu">                
                <li><a ng-click="changeLanguage('es_MX')" style="padding:10px 10px 10px 10px; cursor:pointer;"><span ng-if="idiomaLocal == 'es_MX'">Español</span> <span ng-if="idiomaLocal == 'en_EN'">Spanish</span></a></li>
                <li><a ng-click="changeLanguage('en_EN')" style="padding:10px 10px 10px 10px; cursor:pointer;"><span ng-if="idiomaLocal == 'es_MX'">Inglés</span> <span ng-if="idiomaLocal == 'en_EN'">English</span></a></li>
              </ul>
            </li>-->
            <li class="dropdown hidden-md hidden-sm" permission permission-only="'ANONIMO'">
              <a style="max-height:110px" href ui-sref="ingresa({user: 'ambos'})"><button class="btn btn-lg btn-primary btn-ingresa"><span ng-if="idiomaLocal == 'es_MX'">Ingresa</span> <span ng-if="idiomaLocal == 'en_EN'">Log In</span></button></a>
            </li>
            <li class="dropdown hidden-lg hidden-sx" permission permission-only="'ANONIMO'">
              <a href ui-sref="ingresa({user: 'ambos'})"><button class="btn btn-sm btn-primary btn-ingresa"><i class="fa fa-sign-in" aria-hidden="true"></i></button></a>
            </li>
            <li class="dropdown hidden-md hidden-sm" permission permission-only="'ANONIMO'">
              <a style="max-height:110px" href ui-sref="registro({user: 'ambos'})"><button class="btn btn-lg btn-primary btn-registrate "><span ng-if="idiomaLocal == 'es_MX'">Registrate</span> <span ng-if="idiomaLocal == 'en_EN'">Sign Up</span></button></a>
            </li>
            <li class="dropdown hidden-lg hidden-sx" permission permission-only="'ANONIMO'">
              <a href ui-sref="ingresa({user: 'ambos'})"><button class="btn btn-sm btn-primary btn-registrate"><i class="fa fa-sign-in" aria-hidden="true"></i></button></a>
            </li>
           
            <li class="dropdown" permission permission-except="['ANONIMO']" ng-cloak>
              <a style="padding-bottom:31px" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true" role="button" aria-expanded="false">
                <img class="img-circle" width="50" height="50" src="{{API_PATH_MEDIA}}{{avatar}}" ng-if="avatar != 'null'" />
                <img class="img-circle-perfil" src="http://placehold.it/50x50" ng-if="avatar == 'null'" />
                <span class="negrita ">
                  {{nombre | limitTo:15}}
                </span>
                <span ng-if="nombre.length > 15">...</span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li permission permission-only="'POSTULANTE'"><a href="/perfilpostulante" style="padding:10px 10px 10px 10px;"><span ng-if="idiomaLocal == 'es_MX'">Mi perfil</span><span ng-if="idiomaLocal == 'en_EN'">My profile</span></a></li>
                <li permission permission-only="'ORGANIZACION'"><a href="/perfilorganizacion" style="padding:10px 10px 10px 10px;"> <span ng-if="idiomaLocal == 'es_MX'">Mi perfil</span><span ng-if="idiomaLocal == 'en_EN'">My profile</span></a></li>
                <li permission permission-only="'POSTULANTE'"><a href="/mispostulaciones" style="padding:10px 10px 10px 10px;"> <span ng-if="idiomaLocal == 'es_MX'">Mis postulaciones</span><span ng-if="idiomaLocal == 'en_EN'">My applications</span></a></li>
                <li permission permission-only="'ORGANIZACION'"><a href="/misvacantes" style="padding:10px 10px 10px 10px;"> <span ng-if="idiomaLocal == 'es_MX'">Mis vacantes</span><span ng-if="idiomaLocal == 'en_EN'">My job vacancies</span></a></li>
                <li permission permission-only="'POSTULANTE'"><a href="/configuracion" style="padding:10px 10px 10px 10px;"> <span ng-if="idiomaLocal == 'es_MX'">Configuración</span><span ng-if="idiomaLocal == 'en_EN'">Settings</span></a></li>
                <li permission permission-only="'ORGANIZACION'"><a href="/configuracionorganizacion" style="padding:10px 10px 10px 10px;"> <span ng-if="idiomaLocal == 'es_MX'">Configuración</span><span ng-if="idiomaLocal == 'en_EN'">Settings</span></a></li>
                <li><a style="padding:10px 10px 10px 10px; cursor:pointer" ng-click="salir();"> <span ng-if="idiomaLocal == 'es_MX'">Cerrar sesión</span><span ng-if="idiomaLocal == 'en_EN'">Log out</span></a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a><button class="btn btn-sm btn-primary btn-idioma" ng-click="changeLanguage('en_EN')" >EN</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-primary btn-idioma" ng-click="changeLanguage('es_MX')">ES</button></a>
            </li>
          </ul>
          <ul class="nav navbar-nav hidden-lg hidden-md hidden-sm text-left">
            <li class="dropdown" permission permission-except="['ANONIMO']" ng-cloak>
              <a class="dropdown-toggle" style="padding:10px 10px 10px 20px" data-toggle="dropdown" role="button" aria-expanded="false">
                <img class="img-circle img-responsive" width="50" height="50" src="{{API_PATH_MEDIA}}{{avatar}}" ng-if="avatar != 'null'" />
                <img class="img-circle-perfil img-responsive" src="http://placehold.it/50x50" ng-if="avatar == 'null'" />
                <span class="negrita">
                  {{nombre | limitTo:15}}
                </span>
                <span ng-if="nombre.length > 15">...</span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li permission permission-only="'POSTULANTE'"><a data-toggle="collapse" data-target=".navbar-collapse" href="/perfilpostulante" style="padding:10px 10px 10px 30px;"><span ng-if="idiomaLocal == 'es_MX'">Mi perfil</span><span ng-if="idiomaLocal == 'en_EN'">My profile</span></a></li>
                <li permission permission-only="'ORGANIZACION'"><a data-toggle="collapse" data-target=".navbar-collapse" href="/perfilorganizacion" style="padding:10px 10px 10px 30px;"> <span ng-if="idiomaLocal == 'es_MX'">Mi perfil</span><span ng-if="idiomaLocal == 'en_EN'">My profile</span></a></li>
                <li permission permission-only="'POSTULANTE'"><a data-toggle="collapse" data-target=".navbar-collapse" href="/mispostulaciones" style="padding:10px 10px 10px 30px;"> <span ng-if="idiomaLocal == 'es_MX'">Mis postulaciones</span><span ng-if="idiomaLocal == 'en_EN'">My applications</span></a></li>
                <li permission permission-only="'ORGANIZACION'"><a data-toggle="collapse" data-target=".navbar-collapse" href="/misvacantes" style="padding:10px 10px 10px 30px;"> <span ng-if="idiomaLocal == 'es_MX'">Mis vacantes</span><span ng-if="idiomaLocal == 'en_EN'">My job vacancies</span></a></li>
                <li permission permission-only="'POSTULANTE'"><a data-toggle="collapse" data-target=".navbar-collapse" href="/configuracion" style="padding:10px 10px 10px 30px;"> <span ng-if="idiomaLocal == 'es_MX'">Configuración</span><span ng-if="idiomaLocal == 'en_EN'">Settings</span></a></li>
                <li permission permission-only="'ORGANIZACION'"><a data-toggle="collapse" data-target=".navbar-collapse" href="/configuracionorganizacion" style="padding:10px 10px 10px 30px;"> <span ng-if="idiomaLocal == 'es_MX'">Configuración</span><span ng-if="idiomaLocal == 'en_EN'">Settings</span></a></li>
                <li><a style="padding:10px 10px 10px 30px;" ng-click="salir();"> <span ng-if="idiomaLocal == 'es_MX'">Cerrar sesión</span><span ng-if="idiomaLocal == 'en_EN'">Log out</span></a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" style="padding:10px 10px 10px 20px" data-toggle="dropdown" role="button" aria-expanded="false"><span class="negrita"><span ng-if="idiomaLocal == 'es_MX'">Para Organizaciones</span> <span ng-if="idiomaLocal == 'en_EN'">For Organizations </span></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href ui-sref="ingresa({user: 'organizacion'})" style="padding:10px 10px 10px 30px;"> <span ng-if="idiomaLocal == 'es_MX'">Ingreso</span> <span ng-if="idiomaLocal == 'en_EN'">Log In </span></a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href ui-sref="registro({user: 'organizacion'})" style="padding:10px 10px 10px 30px;"> <span ng-if="idiomaLocal == 'es_MX'">Registro</span> <span ng-if="idiomaLocal == 'en_EN'">Sign Up </span></a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href ui-sref="organizaciones({scrollTo: 'servicios'})" style="padding:10px 10px 10px 30px;"> <span ng-if="idiomaLocal == 'es_MX'">Nuestros Servicios</span> <span ng-if="idiomaLocal == 'en_EN'">What we do </span></a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href ui-sref="organizaciones({scrollTo: 'candidatos'})" style="padding:10px 10px 10px 30px;"> <span ng-if="idiomaLocal == 'es_MX'">Nuestros Candidatos</span> <span ng-if="idiomaLocal == 'en_EN'">Our candidates </span></a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href ui-sref="organizaciones({scrollTo: 'vacantes'})" style="padding:10px 10px 10px 30px;"> <span ng-if="idiomaLocal == 'es_MX'">Vacantes Cubiertas</span> <span ng-if="idiomaLocal == 'en_EN'">Roles we have placed </span></a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/clientes" style="padding:10px 10px 10px 30px;"> <span ng-if="idiomaLocal == 'es_MX'">Nuestros Clientes</span> <span ng-if="idiomaLocal == 'en_EN'">Our clients  </span></a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" style="padding:10px 10px 10px 20px" data-toggle="dropdown" role="button" aria-expanded="false"><span class="negrita"><span ng-if="idiomaLocal == 'es_MX'">Para Postulantes</span> <span ng-if="idiomaLocal == 'en_EN'">For Candidates </span></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a data-toggle="collapse" href ui-sref="ingresa({user: 'postulante'})" style="padding:10px 10px 10px 30px;"> <span ng-if="idiomaLocal == 'es_MX'">Ingreso</span> <span ng-if="idiomaLocal == 'en_EN'">Log In  </span></a></li>
                <li><a data-toggle="collapse" href ui-sref="registro({user: 'postulante'})" style="padding:10px 10px 10px 30px;"> <span ng-if="idiomaLocal == 'es_MX'">Registro</span> <span ng-if="idiomaLocal == 'en_EN'">Sign Up  </span></a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href ui-sref="comofunciona({scrollTo: 'vacantes'})" style="padding:10px 10px 10px 30px;"> <span ng-if="idiomaLocal == 'es_MX'">Vacantes</span> <span ng-if="idiomaLocal == 'en_EN'">Job vacancies </span></a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/comofuncionahead" style="padding:10px 10px 10px 30px;"> <span ng-if="idiomaLocal == 'es_MX'">Cómo Funciona</span> <span ng-if="idiomaLocal == 'en_EN'">How it works  </span></a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" style="padding:10px 10px 10px 20px" data-toggle="dropdown" role="button" aria-expanded="false"><span class="negrita"><span ng-if="idiomaLocal == 'es_MX'">Quiénes Somos</span> <span ng-if="idiomaLocal == 'en_EN'">About matteria</span></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href ui-sref="quienessomos({scrollTo: 'manifiesto'})" style="padding:10px 10px 10px 30px;"> <span ng-if="idiomaLocal == 'es_MX'">Manifiesto Matteria</span> <span ng-if="idiomaLocal == 'en_EN'">Our manifesto </span></a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href ui-sref="quienessomos({scrollTo: 'direfencia'})" style="padding:10px 10px 10px 30px;"> <span ng-if="idiomaLocal == 'es_MX'">Nuestra Diferencia</span> <span ng-if="idiomaLocal == 'en_EN'">How we are different </span></a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href ui-sref="quienessomos({scrollTo: 'valores'})" style="padding:10px 10px 10px 30px;"> <span ng-if="idiomaLocal == 'es_MX'">Nuestro ADN</span> <span ng-if="idiomaLocal == 'en_EN'">Our DNA </span></a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href ui-sref="quienessomos({scrollTo: 'equipo'})" style="padding:10px 10px 10px 30px;"> <span ng-if="idiomaLocal == 'es_MX'">Equipo</span> <span ng-if="idiomaLocal == 'en_EN'">Our team  </span></a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href ui-sref="quienessomos({scrollTo: 'contacto'})" style="padding:10px 10px 10px 30px;"> <span ng-if="idiomaLocal == 'es_MX'">Contáctanos</span> <span ng-if="idiomaLocal == 'en_EN'">Contact </span></a></li>
              </ul>
            </li>
            <li class="dropdown"><a data-toggle="collapse" data-target=".navbar-collapse" style="padding:10px 10px 10px 20px" href="/blog"><span class="negrita"><span ng-if="idiomaLocal == 'es_MX'">Noticias y Contenido</span> <span ng-if="idiomaLocal == 'en_EN'">News and Content </span><br /></span></a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" style="padding:10px 10px 10px 20px" data-toggle="dropdown" role="button" data-hover="dropdown" data-delay="1000" data-close-others="true" aria-expanded="false"><span ng-if="idiomaLocal == 'es_MX'" class="negrita">Idioma<br /><br /></span><span ng-if="idiomaLocal == 'en_EN'" class="negrita">Language</span></a>
              <ul class="dropdown-menu" role="menu">                
                <li><a ng-click="changeLanguage('es_MX')" style="padding:10px 10px 10px 30px; cursor:pointer;"><span ng-if="idiomaLocal == 'es_MX'">Español</span> <span ng-if="idiomaLocal == 'en_EN'">Spanish</span></a></li>
                <li><a ng-click="changeLanguage('en_EN')" style="padding:10px 10px 10px 30px; cursor:pointer;"><span ng-if="idiomaLocal == 'es_MX'">Inglés</span> <span ng-if="idiomaLocal == 'en_EN'">English</span></a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right hidden-lg hidden-md hidden-sm text-left">
            <li class="dropdown" permission permission-only="'ANONIMO'">
              <div class="col-xs-12 text-center">
                <div class="col-xs-6">
                  <a data-toggle="collapse" data-target=".navbar-collapse" style="padding:10px 10px 10px 20px" href ui-sref="ingresa({user: 'ambos'})"><button class="btn btn-sm btn-primary btn-ingresa"><span ng-if="idiomaLocal == 'es_MX'">Ingresa</span> <span ng-if="idiomaLocal == 'en_EN'">Log In </span></button></a>
                </div>
                <div class="col-xs-6">
                  <a data-toggle="collapse" data-target=".navbar-collapse" style="padding:10px 10px 10px 20px" href ui-sref="registro({user: 'ambos'})"><button class="btn btn-sm btn-primary btn-registrate "><span ng-if="idiomaLocal == 'es_MX'">Registrate</span> <span ng-if="idiomaLocal == 'en_EN'">Sign Up </span></button></a>
                </div>
              </div>

            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.container-fluid -->
    </nav>
  </div>

  <!--<div ng-http-loader template="views/templateMail/templatedialog.html"></div>-->
  <div class="container-fluid">
    <div ui-view></div>
  </div>

  <footer class="footer" ng-controller="HeaderCtrl">
    <div class="container">
      <div class="row text-center">
        <div class="col-xs-12">
          <h3 ng-if="idiomaLocal == 'es_MX'">Mapa del Sitio</h3>
          <h3 ng-if="idiomaLocal == 'en_EN'">Site Map</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <ul>
            <!--<li class="cargador" style="list-style-type:none">
              <img class="img-responsive post-carga" style="padding-top:0;" src="{{API_PATH_MEDIA}}{{logo[0].logo_footer}}" />
            </li>-->
            <li style="list-style-type:none">
              <img class="img-responsive" style="padding-top:0;" ng-src="{{API_PATH_MEDIA}}{{logo[0].logo_footer}}" ng-if="idiomaLocal == 'es_MX'"/>
              <img class="img-responsive" style="padding-top:0;" ng-src="{{API_PATH_MEDIA}}{{logo[0].logo_footer_en}}" ng-if="idiomaLocal == 'en_EN'"/>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <ul>
            <li><a href ui-sref="quienessomos({scrollTo: 'manifiesto'})"><span ng-if="idiomaLocal == 'es_MX'"> Quiénes somos</span><span ng-if="idiomaLocal == 'en_EN'"> Who we are</span> </a></li>
            <li><a href ui-sref="organizaciones({scrollTo: 'servicios'})"><span ng-if="idiomaLocal == 'es_MX'"> Qué hacemos</span><span ng-if="idiomaLocal == 'en_EN'"> What we do</span></a></li>
            <li><a href="/faq">FAQ's</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <ul>
            <li><a href ui-sref="organizaciones({scrollTo: 'organizacion'})"><span ng-if="idiomaLocal == 'es_MX'"> Para Organizaciones</span><span ng-if="idiomaLocal == 'en_EN'"> For Organizations</span></a></li>
            <li><a href ui-sref="comofunciona({scrollTo: 'comofunciona'})"><span ng-if="idiomaLocal == 'es_MX'"> Para Postulantes</span><span ng-if="idiomaLocal == 'en_EN'">For Candidates </span></a></li>
            <li><a href="/clientes"><span ng-if="idiomaLocal == 'es_MX'"> Clientes</span><span ng-if="idiomaLocal == 'en_EN'"> Clients</span></a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <ul>
            <li style="list-style:none;"><h4><span ng-if="idiomaLocal == 'es_MX'">Contacto</span><span ng-if="idiomaLocal == 'en_EN'">Contact </span></h4></li>
            <li style="list-style:none;">
              <div class="col-lg-12 text-left margin-bottom" style="padding-left:0">
                <a href="http://bit.ly/matteria_facebook" target="_b1lank"><img width="30" height="30" src="images/redes sociales/Iconos redes sociales-02.png" /></a>
                <a href="http://bit.ly/matteria_twitter" target="_blank"><img width="30" height="30" src="images/redes sociales/Iconos redes sociales-03.png" /></a>
                <a href="http://bit.ly/matteria_instagram" target="_blank"><img width="30" height="30" src="images/redes sociales/Iconos redes sociales-04.png" /></a>
                <a href="http://bit.ly/matteria_linkedin" target="_blank"><img width="30" height="30" src="images/redes sociales/Iconos redes sociales-05.png" /></a>
              </div>
            </li>
            <li style="list-style:none;"><p><a href="https://www.google.com.mx/maps/place/Cl.+93+%2313-42,+Bogot%C3%A1,+Colombia/@4.6757218,-74.0523573,17z/data=!3m1!4b1!4m5!3m4!1s0x8e3f9a8d83f8f111:0xfe3a7090b5bab11!8m2!3d4.6757218!4d-74.0501686" target="_blank">matteria: Calle 93 #13-42, Oficina 306, Bogotá, Colombia</a></p></li>
          </ul>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-xs-12">
          <p>Copyright © 2017 matteria. <span ng-if="idiomaLocal == 'es_MX'">Todos los Derechos Reservados.</span><span ng-if="idiomaLocal == 'en_EN'">All rights reserved</span></p>
        </div>
      </div>
    </div>
  </footer>


  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-100386078-1', 'auto');
    ga('send', 'pageview');

  </script>
  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angularjs-slider/dist/rzslider.js"></script>
  <script src="bower_components/v-accordion/dist/v-accordion.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-permission/dist/angular-permission.js"></script>
  <script src="bower_components/angular-permission/dist/angular-permission-ui.js"></script>
  <script src="bower_components/angular-permission/dist/angular-permission-ng.js"></script>
  <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
  <script src="bower_components/ngImgCrop/compile/minified/ng-img-crop.js"></script>
  <script src="bower_components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
  <script src="bower_components/angular-http-loader/app/package/js/angular-http-loader.js"></script>
  <script src="bower_components/rangy/rangy-core.js"></script>
  <script src="bower_components/rangy/rangy-classapplier.js"></script>
  <script src="bower_components/rangy/rangy-highlighter.js"></script>
  <script src="bower_components/rangy/rangy-selectionsaverestore.js"></script>
  <script src="bower_components/rangy/rangy-serializer.js"></script>
  <script src="bower_components/rangy/rangy-textrange.js"></script>
  <script src="bower_components/textAngular/dist/textAngular.js"></script>
  <script src="bower_components/textAngular/dist/textAngular-sanitize.js"></script>
  <script src="bower_components/textAngular/dist/textAngularSetup.js"></script>
  <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
  <script src="bower_components/angular-translate/angular-translate.js"></script>
  <script src="bower_components/angularjs-socialshare/dist/angular-socialshare.min.js"></script>
  <script src="bower_components/angular-ui-carousel/dist/ui-carousel.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/header.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/about.js"></script>
  <script src="scripts/controllers/clientes.js"></script>
  <script src="scripts/controllers/organizaciones.js"></script>
  <script src="scripts/controllers/faq.js"></script>
  <script src="scripts/controllers/quienessomos.js"></script>
  <script src="scripts/controllers/comofunciona.js"></script>
  <script src="scripts/controllers/login.js"></script>
  <script src="scripts/controllers/registro.js"></script>
  <script src="scripts/controllers/perfilpostulante.js"></script>
  <script src="scripts/controllers/perfilorganizacion.js"></script>
  <script src="scripts/controllers/vacante.js"></script>
  <script src="scripts/controllers/perfilpublicoorganizacion.js"></script>
  <script src="scripts/controllers/publicacionesoferta.js"></script>
  <script src="scripts/controllers/viewoferta.js"></script>
  <script src="scripts/controllers/misvacantes.js"></script>
  <script src="scripts/controllers/perfilcompartidopostulante.js"></script>
  <script src="scripts/controllers/mispostulaciones.js"></script>
  <script src="scripts/controllers/verpostulantes.js"></script>
  <script src="scripts/controllers/configuracionespostulante.js"></script>
  <script src="scripts/controllers/configuracionesorganizacion.js"></script>
  <script src="scripts/services/contenido.service.js"></script>
  <script src="scripts/controllers/perfil.js"></script>
  <script src="scripts/controllers/perfilo.js"></script>
  <script src="scripts/services/imagen.service.js"></script>
  <script src="scripts/filter/vacantes.js"></script>
  <script src="scripts/paginacion/angular-pagination.js"></script>
  <script src="scripts/rating/jk-rating-stars.js"></script>
  <!-- endbuild -->
</body>
</html>
