
<div id="comofunciona" class="row margin-bottom">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="img-responsive" src="{{API_PATH_MEDIA}}{{sllider[0].imagen}}" />
                <div class="carousel-caption">
                    <span class="negrita visible-lg">{{sllider[0].mensaje_imagen}}</span>
                </div>
                <div class="carousel-caption-boton">
                    <a href="/registro/postulante" class="btn btn-lg btn-primary btn-banner">{{sllider[0].mensaje_boton}}</a>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <h2><span class="negrita">¿Como funciona?</span></h2>
        <br />
    </div>
</div>
<div ng-cloak class="row">
    <div class="margin-bottom text-left">
        <v-accordion id="accordionA" class="vAccordion--default" control="accordionA" onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">
            <v-pane ng-repeat="hacemos in comofunciona" id="pane-{{hacemos.titulo}}" style="background-color:{{hacemos.color}}; color:#fff">
                <v-pane-header id="pane-{{hacemos.titulo}}-header" aria-controls="pane-{{hacemos.titulo}}-content" class="container visible-lg visible-md">
                    <span class="negrita"><img class="img-responsive" width="100" height="100" src="{{API_PATH_MEDIA}}{{hacemos.imagen}}" /></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:large">{{hacemos.titulo}}</span>
                </v-pane-header>

                <v-pane-header id="pane-{{hacemos.titulo}}-header" aria-controls="pane-{{hacemos.titulo}}-content" class="container hidden-lg hidden-md text-center">
                    <span class="negrita"><img class="img-responsive" width="80" height="80" src="{{API_PATH_MEDIA}}{{hacemos.imagen}}" /></span><br /><span style="font-size:large">{{hacemos.titulo}}</span>
                </v-pane-header>

                <v-pane-content id="pane-{{hacemos.titulo}}-content" aria-labelledby="pane-{{hacemos.titulo}}-header">
                    <div class="container text-left">
                        <br />
                        <h4><span ng-bind-html="hacemos.descripcion"></span></h4>
                        <br />
                    </div>
                </v-pane-content>
            </v-pane>
        </v-accordion>
    </div>
</div>

