<br />
<div class="container">
    <div class="col-xs-12 border-perfil margin-bottom">
        <div class="col-xs-12 col-lg-5">
            <h2>Configuración</h2>
        </div>
        <div class="col-xs-12 col-lg-7 text-right">
            <h2>Notificaciones <span class="small">(Por correo electrónico)</span></h2>
        </div>
        <div class="col-xs-12 border-separacion margin-bottom">
        </div>
        <div class="col-xs-12 margin-bottom">
            <h2>Cambiar contraseña</h2>
        </div>
        <div class="col-lg-7 col-xs-12">
            
            <form name="formCambiarpsw">
                <md-input-container class="md-block">
                    <label>Password actual</label>
                    <input type="password" required md-no-asterisk name="password" ng-model="configuracion.oldPassword">
                    <div ng-messages="formCambiarpsw.password.$error">
                        <div ng-message="required">Campo requerido.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Nuevo password</label>
                    <input type="password" required md-no-asterisk name="password1" ng-model="configuracion.password">
                    <div ng-messages="formCambiarpsw.password1.$error">
                        <div ng-message="required">Campo requerido.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Repite tu password</label>
                    <input type="password" md-maxlength="30" required md-no-asterisk name="password2" ng-model="configuracion.password1">
                    <div ng-messages="formCambiarpsw.password2.$error">
                        <div ng-message="required">Campo requerido</div>
                    </div>
                </md-input-container>

                <div class="text-left">
                    <button class="btn btn-md btn-primary" ng-click='formCambiarpsw.$valid ? cambiarPasword() : ""'>Cambiar contraseña</button>
                </div>
            </form>
       
        </div>
        <div class="col-lg-5 col-xs-12">
            <div class="col-lg-12">
                <md-switch ng-model="configuracion.mail_job_offers" aria-label="Switch 1" ng-change="guardarNotificaciones(configuracion);">
                    Recibir nuevas ofertas de trabajo
                </md-switch>
                <md-switch ng-model="configuracion.mail_site_improvements" aria-label="Switch 2" ng-change="guardarNotificaciones(configuracion);">
                    Recibir actualizaciones de mejora en el sitio web
                </md-switch>
                <md-switch ng-model="configuracion.mail_updates_news_matteria" aria-label="Switch 3" ng-change="guardarNotificaciones(configuracion);">
                    Recibir actualizaciones y noticias de matteria
                </md-switch>
            </div>

        </div>
        <br />
        <br />
        <div class="col-lg-12 col-xs-12">
            <div class="text-right">
                <button class="btn btn-lg btn-primary" ng-click="desactivar($event);">Desactivar cuenta</button>
            </div>
        </div>
    </div>
</div>
