<div class="row margin-bottom banner-verde">
    <div class="container">
        <br />
        <div class="col-xs-12 text-center">
            <img src="../images/04_OpUPe76.png" />
            <h1 class="negrita">Registro Exitoso</h1>
            <br />
        </div>

    </div>
</div>

<div class="container">
    <br />
    <div class="col-xs-12 text-center">
        <h2 class="negrita">Gracias por registrar tu organización en matteria. <br />Recibirás un correo con los detalles de tu registro. En breve nuestro equipo te contactará para conocerlos y ver como los podemos apoyar</h2>
        <br />
        <br />
        <br />
        <img class="img-responsive img-circle" width="150" height="150" src="../images/correct.png" />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>