<div class="row margin-bottom banner-verde">
    <div class="container">
        <br />
        <div class="col-xs-12 text-center">
            <img src="../images/01_RU1vAEb.png" />
            <h1 class="negrita">Registro Exitoso</h1>
            <br />
        </div>

    </div>
</div>

<div class="container">
    <br />
    <div class="col-xs-12 text-center">
        <h2 class="negrita">Gracias por tu registro en matteria. Ahora podrás acceder a tu cuenta y completar tu perfil profesional. Te aconsejamos aplicar sólo a aquellas vacantes acordes a tu perfil. Te deseamos lo mejor en tus postulaciones. Un abrazo. Equipo de matteria</h2>
        <br />
        <br />
        <br />
        <img class="img-responsive" width="100" height="100" src="../images/correct.png" />
        <br />
        <br />
        <br />
        <br />
        <a class="btn btn-lg btn-primary" href="/perfilpostulante">Ir a mi perfil</a>
        <br />
        <br />
        <br />
        <br />
    </div>

</div>