<div class="container">
    <div class="col-xs-12 col-lg-6">
        <h2>Mis ofertas publicadas</h2>
    </div>
    <div class="col-xs-12 col-lg-6 text-right">
        <button class="btn btn-md btn-primary">Regresar</button>
    </div>
    <div class="col-xs-12 border-separacion margin-bottom">
    </div>
    <div class="col-xs-12 margin-bottom">
    </div>

    <div class="col-xs-12 border-table ">
        <div class="col-xs-12 col-lg-3">
            <span class="col-lg-12 negrita">Content manager</span>
        </div>
        <div class="col-xs-12 col-lg-3">
            <span class="col-lg-12">Hace una hora</span>
        </div>
        <div class="col-xs-12 col-lg-3">
            <span class="col-lg-12"><span class="negrita">Estatus: </span><span>Publicada</span></span>
        </div>
        <div class="col-xs-12 col-lg-3">
            <span class="col-lg-12">
                <span>
                    <a href="#" style="font-size:medium"><i class="fa fa-pencil" aria-hidden="true"></i> Editar </a>
                </span>
                &nbsp;&nbsp;&nbsp;
                <span>
                    <a ng-href="#!verpostulantes" style="font-size:medium"> Ver postulantes</a>
                </span>
            </span>
        </div>

    </div>

    <div class="col-xs-12 border-table margin-bottom">
        <div class="col-xs-12 col-lg-3">
            <span class="col-lg-12 negrita">Content manager</span>
        </div>
        <div class="col-xs-12 col-lg-3">
            <span class="col-lg-12">Hace una hora</span>
        </div>
        <div class="col-xs-12 col-lg-3">
            <span class="col-lg-12"><span class="negrita">Estatus: </span><span>Publicada</span></span>
        </div>
        <div class="col-xs-12 col-lg-3">
            <span class="col-lg-12">
                <span>
                    <a href="#" style="font-size:medium"><i class="fa fa-pencil" aria-hidden="true"></i> Editar </a>
                </span>
                &nbsp;&nbsp;&nbsp;
                <span>
                    <a ng-href="#!verpostulantes" style="font-size:medium"> Ver postulantes</a>
                </span>
            </span>
        </div>

    </div>

    <div class="col-xs-12 border-table margin-bottom">
        <div class="col-xs-12 col-lg-3">
            <span class="col-lg-12 negrita">Content manager</span>
        </div>
        <div class="col-xs-12 col-lg-3">
            <span class="col-lg-12">Hace una hora</span>
        </div>
        <div class="col-xs-12 col-lg-3">
            <span class="col-lg-12"><span class="negrita">Estatus: </span><span>Publicada</span></span>
        </div>
        <div class="col-xs-12 col-lg-3">
            <span class="col-lg-12">
                <span>
                    <a href="#" style="font-size:medium"><i class="fa fa-pencil" aria-hidden="true"></i> Editar </a>
                </span>
                &nbsp;&nbsp;&nbsp;
                <span>
                    <a ng-href="#!verpostulantes" style="font-size:medium"> Ver postulantes</a>
                </span>
            </span>
        </div>

    </div>
</div>