<div id="slider" class="row margin-bottom text-center">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox" ng-repeat="sliders in slider">

            <div class="item active">
                <img class="img-responsive" src="{{API_PATH_MEDIA}}{{sliders.imagen}}" />
                <div class="carousel-caption">
                    <span class="negrita hidden-xs" ng-if="idiomaLocal == 'es_MX'">{{sliders.mensaje_imagen}}</span>
                    <span class="negrita hidden-xs" ng-if="idiomaLocal == 'en_EN'">{{sliders.mensaje_imagen_en}}</span>
                </div>
                <div class="carousel-caption-boton">
                    <a href="/quienessomos/contacto#contacto" class="btn btn-lg btn-primary btn-banner hidden-xs hidden-sm"><span ng-if="idiomaLocal == 'es_MX'">{{sliders.mensaje_boton}}</span><span ng-if="idiomaLocal == 'en_EN'">{{sliders.mensaje_boton_en}}</span></a>
                    <a href="/quienessomos/contacto#contacto" class="btn btn-xs btn-primary btn-banner hidden-md hidden-lg"><span ng-if="idiomaLocal == 'es_MX'">{{sliders.mensaje_boton}}</span><span ng-if="idiomaLocal == 'en_EN'">{{sliders.mensaje_boton_en}}</span></a>
                </div> 
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div id="servicios" class="col-xs-12 container text-center margin-bottom">
        <h2><span class="negrita" ng-if="idiomaLocal == 'es_MX'">¿ Qué hacemos ?</span><span class="negrita" ng-if="idiomaLocal == 'en_EN'">What we do</span></h2>      
        <br />
    </div>
    <div class="col-xs-12 margin-bottom" style="padding-left:0; padding-right:0">

        <v-accordion id="accordionA" class="vAccordion--default" control="accordionA" onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">
            <v-pane id="pane-{{hacemos.texto}}" ng-repeat="hacemos in hacemoss" style="background-color:{{hacemos.color}}; color:#fff">
                <v-pane-header id="pane-{{hacemos.texto}}-header" aria-controls="pane-{{hacemos.texto}}-content" class="container visible-lg visible-md">
                    <span class="negrita"><img class="img-responsive" width="100" height="100" src="{{API_PATH_MEDIA}}{{hacemos.imagen}}" /></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:large;" ng-if="idiomaLocal == 'es_MX'">{{hacemos.texto}}</span><span style="font-size:large;" ng-if="idiomaLocal == 'en_EN'">{{hacemos.texto_en}}</span>
                </v-pane-header>

                <v-pane-header id="pane-{{hacemos.texto}}-header" aria-controls="pane-{{hacemos.texto}}-content" class="container hidden-lg hidden-md text-center">
                    <span class="negrita"><img class="img-responsive" width="80" height="80" src="{{API_PATH_MEDIA}}{{hacemos.imagen}}" /></span><br /><span style="font-size:large;" ng-if="idiomaLocal == 'es_MX'">{{hacemos.texto}}</span><span style="font-size:large;" ng-if="idiomaLocal == 'en_EN'">{{hacemos.texto_en}}</span>
                </v-pane-header>

                <v-pane-content id="pane-{{hacemos.texto}}-content" aria-labelledby="pane-{{hacemos.texto}}-header">
                    <div class="container text-left">
                        <br />
                        <h4 ng-show="ver"><span ng-if="idiomaLocal == 'es_MX'" ng-bind-html="hacemos.descripcion"></span><span ng-if="idiomaLocal == 'en_EN'" ng-bind-html="hacemos.descripcion_en"></span></h4>
                        <br />
                    </div>
                </v-pane-content>
            </v-pane>
        </v-accordion>
    </div>
    <div id="candidatos" class="col-xs-12">
        <br />
        <div class="container">
            <img class="img-responsive" src="{{API_PATH_MEDIA}}{{slider[0].segunda_imagen}}" alt="" ng-if="idiomaLocal == 'es_MX'">
            <img class="img-responsive" src="{{API_PATH_MEDIA}}{{slider[0].segunda_imagen_en}}" alt="" ng-if="idiomaLocal == 'en_EN'">
        </div>        
    </div>
</div>

<div id="vacantes" class="row col-xs-12">
    <div class="container">
        <div class="col-xs-12 text-center">
            <h2><span class="negrita" ng-if="idiomaLocal == 'es_MX'">Últimos cargos seleccionados</span></h2>          
            <h2><span class="negrita" ng-if="idiomaLocal == 'en_EN'">Roles we have placed</span></h2>  
            <br />
            <div class="row">
                <div class="col-xs-12 col-lg-2" ng-repeat="vacante in utimasvacantes">
                    <div style="width:100%; height:250px;">
                        <a href="{{vacante.website_url}}"></a>
                        <img class="img-circle" width="150" height="150" src="{{API_PATH_MEDIA}}{{vacante.imagen}}">
                        <h4 ng-bind-html="vacante.empresa"></h4>
                        <p ng-bind-html="vacante.vacante"> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

