
<div class="container">

    <div class="col-xs-12">
        <div class="col-xs-12 text-right margin-bottom">
            <a class="margin-bottom" href="/perfilpublicoorganizacion/{{id}}" target="_blank">Vista previa</a>
        </div>
        <form name="formOrganizacion">
            <div class="col-xs-12 border-perfil margin-bottom">
                <div ng-show="!crop">
                    <div class="col-xs-12 col-lg-3">
                        <div class="col-xs-12 text-center margin-bottom">
                            <img class="img-circle img-responsive img-circle-padding" src="{{API_PATH_MEDIA}}{{company.logo}}" ng-show="isImage" />
                            <img class="img-circle img-responsive" ng-src="{{myCroppedImage}}" ng-show="!isImage" />
                        </div>
                        <div class="col-xs-12 text-center">
                            <input type="file" id="fileInput" class="inputfile" accept="image/*" />
                            <label for="fileInput">Cargar</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-9">
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <h2>Datos Organización</h2>
                            </div>
                            <div class="col-xs-12" style="padding:0;">
                                <div class="col-xs-12 col-lg-6">
                                    <md-input-container class="md-block">
                                        <label>Nombre organización <span style="color:dodgerblue">*</span></label>
                                        <input required md-no-asterisk name="name" ng-model="company.name">
                                        <div ng-messages="formOrganizacion.name.$error">
                                            <div ng-message="required">Campo requerido.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div class="col-xs-12 col-lg-6">
                                    <md-input-container class="md-block">
                                        <label>Tipo <span style="color:dodgerblue">*</span></label>
                                        <md-select required md-no-asterisk name="tipo" ng-model="company.tipo" aria-label="tipo">
                                            <md-option selected ng-value="0"><em>Todos</em></md-option>
                                            <md-option ng-repeat="tipo in tipos" ng-value="tipo.id" ng-selected="$index == company.company_type.id - 1">
                                                {{tipo.name}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="formOrganizacion.tipo.$error">
                                            <div ng-message="required">Campo requerido.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="col-xs-12" style="padding:0;">
                                <div class="col-xs-12 col-lg-6">
                                    <md-input-container class="md-block">
                                        <label>Sitio Web</label>
                                        <input name="website" ng-model="company.website">
                                    </md-input-container>
                                </div>
                                <div class="col-xs-12 col-lg-6">
                                    <md-input-container class="md-block">
                                        <label>País</label>
                                        <md-select ng-model="user.pais" aria-label="pais" ng-change="selectEstado();">
                                            <md-option ng-repeat="pais in paises" ng-value="pais.id" ng-selected="pais.id == company.country.id">
                                                {{pais.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-12" style="padding:0;">
                                    <md-input-container class="md-block" ng-if="IsCiudad">
                                        <label>Cuidad</label>
                                        <md-select ng-model="company.city" name="city" aria-label="city"  ng-change="selectEstadosss();">
                                            <md-option ng-repeat="estado in estados track by $index" ng-value="estado.name">
                                                {{estado.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="md-block" ng-if="!IsCiudad">
                                        <label>Cuidad</label>
                                        <input name="city" ng-model="company.city">
                                    </md-input-container>
                                </div>
                                <!--<div class="col-xs-6">
                                    <md-checkbox ng-model="company.show_profile_basic_info" aria-label="Checkbox1">
                                        Mostrar en perfil publico
                                    </md-checkbox>
                                </div>-->
                            </div>

                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <div class="col-xs-12">

                                <md-input-container class="md-block">
                                    <label><small>Url Personalizada</small></label>
                                </md-input-container>

                                <div class="col-xs-12 visible-lg visible-md" style="padding:0;">
                                                                        
                                    <md-input-container layout="row">
                                        <h4>{{currentLocation}}/perfilo/</h4>
                                        <input name="custom_url" ng-model="company.custom_url" ng-change="existeurl()" style="text-transform: lowercase;">
                                    </md-input-container>


                                    <div class="col-xs-12 col-lg-3 visible-xs" style="padding-left:0;">
                                        <h4>{{currentLocation}}/perfilo/</h4>
                                    </div>
                                    <div class="col-xs-12 col-lg-9 visible-xs" style="padding-left:0; padding-right:0;">

                                        <md-input-container class="md-block" style="top:-20px;">
                                            <input name="custom_url" ng-model="company.custom_url" ng-change="existeurl()" style="text-transform: lowercase;">
                                        </md-input-container>

                                    </div>

                                </div>

                                <div class="col-xs-12 visible-xs visible-sm" style="padding:0;">

                                    <div class="col-xs-12 col-lg-3" style="padding-left:0;">
                                        <h4>{{currentLocation}}/perfilo/</h4>
                                    </div>
                                    <div class="col-xs-12 col-lg-9" style="padding-left:0; padding-right:0;">

                                        <md-input-container class="md-block" style="top:-20px;">
                                            <input name="custom_url" ng-model="company.custom_url" ng-change="existeurl()" style="text-transform: lowercase;">
                                        </md-input-container>

                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <h3>Redes Sociales</h3>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <md-input-container class="md-block">
                                    <label>Facebook</label>
                                    <input md-maxlength="100" name="social_facebook" ng-model="company.social_facebook">
                                    <div ng-messages="formOrganizacion.social_facebook.$error">
                                        <div ng-message="md-maxlength">El nombre de la organizacion no puede ser mayor a 30 caracteres.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <md-input-container class="md-block">
                                    <label>Twitter</label>
                                    <input md-maxlength="100" name="social_twitter" ng-model="company.social_twitter">
                                    <div ng-messages="formOrganizacion.social_twitter.$error">
                                        <div ng-message="md-maxlength">El nombre de la organizacion no puede ser mayor a 30 caracteres.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <md-input-container class="md-block">
                                    <label>Linkedin</label>
                                    <input md-maxlength="100" name="social_linkedin" ng-model="company.social_linkedin">
                                    <div ng-messages="formOrganizacion.social_linkedin.$error">
                                        <div ng-message="md-maxlength">El nombre de la organizacion no puede ser mayor a 30 caracteres.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>

                        </div>
                        <div class="margin-bottom"></div>
                        <div class="col-xs-12 text-center margin-bottom">
                            <button class="btn btn-lg btn-primary btn-ingresa" ng-click='formOrganizacion.$valid ? updatecompany($event) : ""'>Guardar</button>
                        </div>
                        <div class="col-xs-12 input-margin text-right">
                            <span style="color:dodgerblue">* Campos obligatorios</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 text-center" ng-show="crop">
                    <div class="cropArea margin-bottom">
                        <img-crop area-type="square" area-min-size="250" result-image-size="250" image="myImage" result-image="myCroppedImage"></img-crop>
                    </div>
                    <div ng-show="false"><img ng-src="{{myCroppedImage}}" /></div>
                    <button class="btn btn-xs btn-primary dp-btn-boton btn-ingresa" ng-click="setimagen();">Seleccionar</button>
                    <button class="btn btn-xs btn-primary dp-btn-boton btn-registrate" ng-click="setimagencancelar();">Cancelar</button>
                </div>
        </form>

        <form name="formInformacion">
            <div class="col-xs-12 border-perfil margin-bottom">
                <div class="col-xs-12 col-lg-5">
                    <div class="col-xs-12">
                        <h2>Información</h2>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-7">

                </div>
                <div class="col-xs-12 border-separacion margin-bottom">
                </div>
                <div class="col-xs-12 margin-bottom">
                </div>
                <div class="col-xs-12" style="padding:0">
                    <span layout="row">
                        <h2>
                            ¿Quiénes somos? Descripcion de la organización
                        </h2>
                    </span>
                </div>
                <div class="col-xs-12">

                    <md-input-container class="md-block input-margin">
                        <text-angular ng-model="company.description" rows="1"></text-angular>
                    </md-input-container>

                </div>

                <!--<div class="col-xs-12">
                    <md-input-container class="md-block input-margin">
                        <label>¿Quiénes somos? Descripcion de la organización<span style="color:dodgerblue">*</span></label>
                        <textarea required md-no-asterisk name="quienes" ng-model="company.description" md-maxlength="2000" rows="1" md-select-on-focus></textarea>
                        <div ng-messages="formInformacion.quienes.$error">
                            <div ng-message="required">Campo requerido.</div>
                        </div>
                    </md-input-container>
                </div>-->
                <div class="col-xs-12" style="padding:0">
                    <span layout="row">
                        <h2>
                            ¿Quiénes somos? Descripcion de la organización
                        </h2>
                    </span>
                </div>
                <div class="col-xs-12">

                    <md-input-container class="md-block input-margin">
                        <text-angular ng-model="company.our_impactinfo" rows="1"></text-angular>
                    </md-input-container>

                </div>

                <!--<div class="col-xs-12">
                    <md-input-container class="md-block input-margin">
                        <label>¿Cuál es nuestro impacto? <span style="color:dodgerblue">*</span></label>
                        <textarea required md-no-asterisk name="impacto" ng-model="company.our_impactinfo" md-maxlength="2000" rows="1" md-select-on-focus></textarea>
                        <div ng-messages="formInformacion.quienes.$error">
                            <div ng-message="required">Campo requerido.</div>
                        </div>
                    </md-input-container>
                </div>-->
                <div class="margin-bottom"></div>
                <div class="col-xs-12 text-center margin-bottom">
                    <button class="btn btn-lg btn-primary btn-ingresa" ng-click='formInformacion.$valid ? updatecompany() : ""'>Guardar</button>
                </div>
                <div class="col-xs-12 input-margin text-right">
                    <span style="color:dodgerblue">* Campos obligatorios</span>
                </div>
            </div>
        </form>

        <form name="formFacturacion">

            <div class="col-xs-12 border-perfil margin-bottom">
                <div class="col-xs-12 col-lg-9">
                    <div class="col-xs-12">
                        <h2>Dirección de facturación <small class="smaller">(Estos datos no serán mostrados en el perfil publico)</small></h2>
                    </div>
                </div>

                <div class="col-xs-12 border-separacion margin-bottom">
                </div>
                <div class="col-xs-12 margin-bottom">
                </div>
                <div class="col-xs-12">
                    <md-input-container class="md-block input-margin">
                        <label>Nombre tributario <span style="color:dodgerblue">*</span></label>
                        <input required md-no-asterisk name="NIT" ng-model="company.billing_number">
                        <div ng-messages="formFacturacion.NIT.$error">
                            <div ng-message="required">Campo requerido.</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="col-xs-12">
                    <md-input-container class="md-block input-margin">
                        <label>Domicilio <span style="color:dodgerblue">*</span></label>
                        <input required md-no-asterisk name="billing_address" ng-model="company.billing_address">
                        <div ng-messages="formFacturacion.billing_address.$error">
                            <div ng-message="required">Campo requerido.</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <md-input-container class="md-block">
                        <label>País</label>
                        <md-select ng-model="user.pais" aria-label="pais">
                            <md-option selected ng-value="0"><em>Todos</em></md-option>
                            <md-option ng-repeat="pais in paises" ng-value="pais.id" ng-selected="$index == company.billing_country - 1">
                                {{pais.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <md-input-container class="md-block">
                        <label>Cuidad</label>
                        <input name="billing_city" ng-model="company.billing_city">
                    </md-input-container>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <md-input-container class="md-block">
                        <label>Teléfono</label>
                        <input name="billing_phone_number" ng-model="company.billing_phone_number">
                    </md-input-container>
                </div>
                <div class="margin-bottom"></div>
                <div class="col-xs-12 text-center margin-bottom">
                    <button class="btn btn-lg btn-primary btn-ingresa" ng-click='formFacturacion.$valid ? updatecompany() : ""'>Guardar</button>
                </div>

                <div class="col-xs-12 input-margin text-right margin-bottom">
                    <span style="color:dodgerblue">* Campos obligatorios</span>
                </div>
            </div>

            <div class="col-xs-12 text-right margin-bottom"></div>
        </form>

    </div>
</div>
