<div class="row margin-bottom banner-verde">
    <div class="container">
        <br />
        <br />
        <div class="col-xs-12 text-center">
            <h2 class="negrita">Politicas anti discriminacion</h2>
            <br />
            <br />
        </div>
    </div>
</div>
<div class="container">
    <h3>POLÍTICA DE TRATAMIENTO DE LA INFORMACIÓN Y PROTECCIÓN DE DATOS PERSONALES TRABAJO CON SENTIDO S.A.S O MATTERIA</h3>
    <p style="text-justify:auto">
        Responsable del Tratamiento:
        <ul>
            <li>
                Razón Social: Trabajo Con Sentido S.A.S. (en adelante TCS).
            </li>
            <li>
                Marca: Matteria
            </li>
            <li>
                Nit: 900.682.602-4
            </li>
            <li>
                Dirección: Calle 93 # 13- 42 Oficina 306
            </li>
            <li>
                Teléfono: 3108017400
            </li>
            <li>
                Sitio Web: www.trabajoconsentido.co
            </li>
        </ul>
        Dando cumplimiento a lo dispuesto en la Ley 1581 de 2012 y el Decreto 1377 de 2013, pone conocimiento de los Titulares de los datos personales que sean tratados por TCS de cualquier manera, la presente política de tratamiento de la información y protección de datos personales (en adelante referenciada como la “política”):
    </p>
    <h3>
        1. OBJETO:
    </h3>
    <p style="text-justify:auto">
        El propósito principal de la Política es poner en conocimiento de los Titulares de los Datos Personales, los derechos que les asisten, los procedimientos y mecanismos dispuestos por TCS para hacer efectivos esos derechos, y darles a conocer el alcance y la finalidad del tratamiento al cual serán sometidos sus Datos Personales, en caso de que el Titular otorgue su Autorización expresa, previa e informada.
    </p>
    <h3>
        2. DEFINICIONES:
    </h3>
    <p style="text-justify:auto">
        A los efectos de la presente Política se tendrán en cuenta las siguientes definiciones:
    </p>
    <p style="text-justify:auto">
        2.1. Autorización:<br />
        Es el consentimiento previo, expreso e informado del Titular para llevar a cabo el tratamiento de sus Datos Personales.<br />
        2.2.  Base de Datos:<br />
        Es el conjunto organizado de Datos Personales que sean objeto de tratamiento, electrónico o no, cualquiera que fuere la modalidad de su formación, almacenamiento, organización y acceso.<br />
        2.3.Dato Financiero:<br />
        Es todo Dato Personal referido al nacimiento, ejecución y extinción de obligaciones dinerarias, independientemente de la naturaleza del contrato que les dé origen, cuyo Tratamiento se rige por la Ley 1266 de 2008 o las normas que la complementen, modifiquen o adicionen.<br />

        2.4. Dato Personal:<br />
        Es cualquier información de cualquier tipo, vinculada o que pueda asociarse a una o varias personas naturales o jurídicas determinadas o determinables<br />

        2.5. Dato Público:<br />
        Es el dato personal calificado como tal según los mandatos de la ley o de la Constitución Política y aquel que no sea semiprivado, privado o sensible. Son públicos, entre otros, los datos relativos al estado civil de las personas, a su profesión u oficio, a su calidad de comerciante o de servidor público y aquellos que puedan obtenerse sin reserva alguna. Por su naturaleza, los datos públicos pueden estar contenidos, entre otros, en registros públicos, documentos públicos, gacetas y boletines oficiales, sentencias judiciales debidamente ejecutoriadas que no estén sometidas a reserva.<br />

        2.6. Dato Sensible:<br />
        Es el dato personal que afecta la intimidad del Titular o cuyo uso indebido puede generar su discriminación, tales como aquellos que revelen afiliaciones sindicales, el origen racial o étnico, la orientación política, las convicciones religiosas, morales o filosóficas, la pertenencia a sindicatos , organizaciones sociales, de derechos humanos o que promueva intereses de cualquier partido político o que garanticen los derechos y garantías de partidos políticos de oposición, así como los datos relativos a la salud, a la vida sexual, y los datos biométricos.<br />

        2.7. Encargado del Tratamiento<br />
        Es la persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realice el Tratamiento de Datos Personales por cuenta del Responsable del Tratamiento.<br />

        2.8. Autorizado<br />
        Es la Compañía y todas las personas bajo la responsabilidad de la Compañía, que por virtud de la Autorización y de estas Políticas tienen legitimidad para Tratar los Datos Personales del Titular. El Autorizado incluye al género de los Habilitados.<br />

        2.9. Habilitación:<br />
        Es la legitimación que expresamente y por escrito mediante<br />
        contrato o documento que haga sus veces, otorgue la Compañía a terceros, en cumplimiento de la Ley aplicable, para el Tratamiento de Datos Personales, convirtiendo a tales terceros en Encargados del Tratamiento de los Datos Personales entregados o puestos a disposición.<br />

        2.10. Responsible del Tratamiento:<br />
        Es la persona natural o jurídica, pública o privada, que por sí<br />
        misma o en asocio con otros, decida sobre la Base de Datos y/o el Tratamiento de los Datos Personales.<br />

        2.11.  Titular del Dato Personal<br />
        Es la persona natural o jurídica a quien se refiere la<br />
        información que reposa en una Base de Datos, y quien es el sujeto del derecho de hábeas data.<br />

        2.12.Transferencia:<br />
        Es  el  Tratamiento   de  Datos  Personales  que  implica la comunicación de los mismos dentro o fuera del territorio de la República de Colombia cuando tenga por objeto la realización de un Tratamiento por el Encargado por cuenta del Responsable.<br />

        2.13. Transmisión:<br />
        Es la actividad de Tratamiento de Datos Personales mediante la cual se comunican los mismos, internamente o con terceras personas, dentro o fuera del territorio de la República de Colombia, cuando dicha comunicación tenga por objeto la realización de cualquier actividad de Tratamiento por el receptor del Dato Personal.<br />

        2.14.  Tratamiento de Datos Personales:<br />
        Es toda operación y procedimiento sistemático, electrónico o no, que permita la recolección, conservación, ordenamiento, almacenamiento, modificación, relacionamiento, uso, circulación, evaluación, bloqueo, destrucción y en general, el procesamiento de Datos Personales, así como también su transferencia a terceros a través de comunicaciones, consultas, interconexiones, cesiones, mensajes de datos.<br />

    </p>
    <h3>
        3. FINALIDAD Y TRATAMIENTO DE LA INFORMACIÓN:
    </h3>
    <p style="text-justify:auto">
        3.1 ¿Qué información recolecta TCS?<br />

        La información tratada por TCS corresponde a Datos Personales de sus proveedores, empleados y clientes.<br />

        3.2. ¿Con qué fin se utiliza la información?<br />

        TCS utiliza la información para:<br />
        <ul>
            <li>
                Dar cumplimiento a los contratos suscritos entra TCS sus clientes, empleados y proveedores.
            </li>
            <li>
                Enviar  información  comercial  -  seguimiento  y promoción de productos y servicios.
            </li>
            <li>
                Realizar convocatorias laborales y adelantar procesos de selección.
            </li>
            <li>
                Promover la actualización, inclusión o supresión de la información consignada en las bases de datos de TCS.
            </li>
            <li>
                Hacer contacto en caso de quejas, reclamos o sugerencias sobre el servicio
                de TCS.
            </li>
        </ul>

        Y especialmente para:<br />

        Clientes<br />
        o	Prestar los servicios contratados por los clientes sobre cada uno de los productos y servicios que ofrece TCS.
        o	Informar sobre el estado de los productos o servicios contratados,	sus modificaciones	 y novedades.
        o	Mantener informados a los clientes sobre las actividades, novedades	y proyectos de TCS.

        Empleados<br />
        o	Generar pagos laborales, seguridad social, aportes parafiscales, reportar información tributaria y cualquier otro que se derive de su relación contractual con TCS.
        o	Mantener en sus bases de datos información referente a contacto para casos de emergencia, formación académica y trayectoria.
        o	Enviar comunicados a sus empleados referente a temas convocatorias, actividades internas, estadísticas y reformas en TCS.
        Proveedores
        o	Realizar pedidos y pagos a sus proveedores.
        o	Reportar información tributaria referente a las compras.<br />

        Candidatos de Trabajo<br />

        o	Realizar procesos de selección de personal y futura vinculación por medio de contrato laboral en TCS.
        o	Investigar y analizar la información presentada a TCS con para establecer su veracidad y conveniencia.
        o	Consultar las bases de datos de centrales de riesgo crediticio, financiero	y antecedentes judiciales.<br />

        3.3 ¿Cómo es tratada la información?<br />

        La información es recolectada a través de formatos específicos los cuales son entregados al titular de la información para ser diligenciados y entregados a TCS junto con la solicitud de Autorización; además de la anterior forma, la información es también recolectada por medio del sitio web de TCS, en el formato diseñado para tal fin junto con la solicitud de Autorización.

        Las bases de datos que TCS obtiene, no se venden, ni se alquilan a terceros y son mantenidas con la mayor privacidad posible. Toda la información se encuentra en tecnología PostgreSQL coordinado por el área de tecnología (T.I) de TCS, en las bases de datos de la página web, en los cuales hay acceso restringido con usuario y clave y administrador.<br />

        3.4. Datos Sensibles.<br />

        Los datos de menores de edad, afiliación a organizaciones de cualquier tipo, orientación sexual e información recolectada en los exámenes médicos sobre salud ocupacional que se haya recolectado con cualquiera de los fines mencionados en el numeral 3.2. gozará de especial protección por parte de nuestro Centro Documental de acuerdo con los parámetros impuestos por la Ley 1581 de 2012 y el Decreto Reglamentario 1377 de 2013, tales como autorización expresa de los titulares (en el caso de menores de edad de sus representantes legales) para el tratamiento de este tipo de datos, necesidad de dicha información para adelantar labores judiciales y contractuales, se responda y respete el interés superior de los niños, niñas y adolescentes y se asegure el respeto de sus derechos fundamentales (Art 12 Dcto 1377/2013) y las demás establecidas por la ley.

    </p>
    <h3>
        4. DERECHOS DE LOS TITULARES DE LOS DATOS PERSONALES:
    </h3>
    <p style="text-justify:auto">
        Los Titulares de los Datos Personales tendrán los derechos detallados a continuación, en concordancia con todo lo dispuesto en la presente política:
    </p>
    <p>
        4.1.	Tener fácil acceso a la Política para conocer cómo y ante cual funcionario se realiza la actualización, rectificación y/o supresión de sus Datos Personales frente a TCS o los Encargados del Tratamiento de los mismos. Este derecho se podrá ejercer, entre otros frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos cuyo Tratamiento esté expresamente prohibido o no haya sido autorizado.<br />

        4.2.	Solicitar prueba de la Autorización otorgada a TCS, salvo que la Ley indique que dicha Autorización no es necesaria.<br />

        4.3.	Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a la Ley.<br />

        4.4.	Revocar su Autorización y/o solicitar la supresión de sus Datos Personales de las bases de datos de TCS, cuando la Superintendencia de Industria y Comercio haya determinado mediante acto administrativo definitivo que en el Tratamiento TCS o el Encargado del Tratamiento ha incurrido en conductas contrarias a la Ley o cuando no hay una obligación legal o contractual de mantener el Dato Personal en la base de datos del Responsable.<br />

        4.5.	Acceder de forma gratuita a los datos que hayan sido objeto de Tratamiento.<br />

        4.6.	Conocer las modificaciones a los términos de esta Política de manera previa y eficiente a la implementación de las nuevas modificaciones o, en su defecto, de la nueva política de tratamiento de la información.<br />

        Los Titulares podrán ejercer sus derechos de Ley y realizar los procedimientos establecidos en esta Política, mediante la presentación de su cédula de ciudadanía o documento de identificación original. Los menores de edad podrán ejercer sus derechos personalmente, o a través de sus padres o los adultos que detenten la patria potestad, quienes deberán demostrarlo mediante la documentación pertinente. Así mismo podrán ejercer los derechos del Titular los causahabientes que acrediten dicha calidad, el representante y/o apoderado del titular con la acreditación correspondiente y aquellos que han hecho una estipulación a favor de otro o para otro.<br />

    </p>
    <h3>
        5.	RESPONSABLE DE LA PROTECCIÒN DE DATOS PERSONALES EN TCS
    </h3>
    <p style="text-justify:auto">
        TCS ha designado a Fernanda Forero como Responsable de la recepción y atención de peticiones, quejas, reclamos y consultas de todo tipo relacionadas con los Datos Personales. La persona encargada de Servicio al Cliente tramitará las consultas y reclamaciones en materia de Datos Personales de conformidad con la Ley y esta política.<br />

        Algunas de las funciones particulares del responsable de la Protección de Datos Personales son:<br />

        5.1.	Recibir y tramitar las solicitudes de los Titulares de Datos Personales, tramitar y responder aquellas que tengan fundamento en la Ley o estas Políticas.<br />

        5.2.	Dar respuesta a los Titulares de los Datos Personales sobre aquellas solicitudes que no procedan de acuerdo con la Ley.<br />

        5.3.	Garantizar a los Titulares de los Datos Personales el cumplimiento del derecho de Hábeas Data.<br />

        5.4.	Dar aviso a la Superintendencia de Industria y Comercio cuando externa y/o internamente se encuentre en riesgo la información suministrada por los Titulares de las Bases de Datos.<br />

        Los datos de contacto del responsable de la protección de datos personales en
        TCS son los siguientes:<br />

        <ul>
            <li>
                Dirección: Calle 93 # 13-42 oficina 306
            </li>
            <li>
                Dirección: Calle 93 # 13-42 oficina 306
            </li>
            <li>
                Correo electrónico: protecciondatos@matteria.co
            </li>
            <li>
                Teléfono: (57-1) 310 801 7400
            </li>
            <li>
                Cargo: Jefe de Operaciones
            </li>
        </ul>

    </p>
    <h3>
        6.	PROCEDIMIENTO PARA EJERCER LOS DERECHOS DE LOS TITULARES DE DATOS:
    </h3>
    <p style="text-justify:auto">
        6.1.	Consultas:<br />

        Las consultas respecto de cuáles son los Datos Personales del Titular que  reposan en las Bases de Datos de TCS, pueden dirigirse al responsable de la<br />

        protección de datos personales por medios electrónicos a través del correo electrónico protecciondatos@matteria.co o telefónicamente en la línea (57-1) 310 801 7400.<br />

        Cualquiera que sea el medio, TCS guardará prueba de la consulta y su respuesta. El procedimiento para tales efectos será el siguiente:<br />

        A.	Si el solicitante tuviere capacidad para formular la consulta, de conformidad con los criterios de acreditación establecidos en la Ley 1581 y el Decreto 1377, TCS recopilará toda la información sobre el Titular que esté contenida en el registro individual de esa persona o que esté vinculada con la identificación del Titular dentro de las bases de datos de TCS y se la hará conocer al solicitante.<br />

        B.	El Responsable de atender la consulta dará respuesta al solicitante siempre y cuando tuviere derecho a ello por ser el Titular del Dato Personal, su causahabiente, apoderado, representante, se haya estipulado por otro o para otro, o sea el responsable legal en el caso de menores de edad. Esta respuesta se enviará dentro de los diez (10) días hábiles contados a partir de la fecha en la que la solicitud fue recibida por TCS.<br />


        C.	En caso de que la solicitud no pueda ser atendida a los diez (10) hábiles, se contactará al solicitante para comunicarle los motivos por los cuales el estado de su solicitud se encuentra en trámite. Para ello se utilizará el mismo medio o uno similar al que fue utilizado por el Titular para su comunicar su solicitud.<br />


        D.	La respuesta definitiva a todas las solicitudes no tardará más de quince (15) días hábiles desde la fecha en la que la solicitud inicial fue recibida por  TCS.<br />

        6.2.	Reclamos:<br />

        En los casos en que los Titulares de Datos Personales Tratados por TCS consideren que los mismos deben ser objeto de corrección, actualización o supresión, o que exista en su criterio un incumplimiento de los deberes de Ley de TCS, podrán dirigirlos por medios electrónicos al correo protecciondatos@matteria.co<br />

        .
        Para estos efectos, el procedimiento será el siguiente:<br />

        A.	El reclamo deberá ser presentado por el Titular, sus causahabientes o representantes o acreditados de conformidad con la Ley 1581 y el Decreto 1377, así:<br />

        <ul>
            <li>
                Deberá contener el nombre y documento de identificación del Titular.
            </li>
            <li>
                Deberá contener una descripción de los hechos que dan lugar al reclamo y el objetivo perseguido (actualización, corrección o supresión, o cumplimiento de deberes).
            </li>
            <li>
                Deberá indicar la dirección y datos de contacto e identificación del reclamante.
            </li>
            <li>
                Deberá acompañarse por toda la documentación que el reclamante quiera hacer valer.
            </li>
        </ul>

        B.	TCS antes de atender el reclamo verificará la identidad del Titular del Dato Personal, su representante y/o apoderado, o la acreditación de que hubo una estipulación por otro o para otro. Para ello puede exigir la cédula de ciudadanía o documento de identificación original del Titular, y los poderes especiales, generales o documentos que se exijan según sea el caso.<br />

        C.	Si el reclamo o la documentación adicional están incompletos, TCS requerirá al reclamante por una sola vez dentro de los cinco (5) días siguientes a la recepción del reclamo para que subsane las fallas. Si el reclamante no presenta la documentación e información requerida dentro  de los dos (2) meses siguientes a la fecha del reclamo inicial, se entenderá que ha desistido del reclamo.<br />


        D.	Si por cualquier hecho la persona que recibe el reclamo al interior de TCS no es competente para resolverlo, dará traslado Analista de Servicio al Cliente dentro de los dos (2) días hábiles siguientes a haber recibido el reclamo, e informará de dicha remisión al reclamante.<br />


        E.	Una vez recibido el reclamo con la documentación completa, se incluirá   en

        la Base de Datos de TCS donde reposen los Datos del Titular sujetos a reclamo una leyenda que diga “reclamo en trámite” y el motivo del mismo, en un término no mayor a dos (2) días hábiles. Esta leyenda deberá mantenerse hasta que el reclamo sea decidido.<br />



        F.	El término máximo para atender el reclamo será de quince (15) días hábiles contados a partir del día siguiente a la fecha de su recibo. Cuando no fuere posible atender el reclamo dentro de dicho término, se informará al interesado los motivos de la demora y la fecha en que se atenderá su reclamo, la cual en ningún caso podrá superar los ocho (8) días hábiles siguientes al vencimiento del primer término.<br />

        La presente política se ha adoptado y empieza a cumplir sus efectos desde 1 de febrero de 2014. El periodo de vigencia de la base de datos será indefinido por el tiempo que sea razonable y necesario de acuerdo con la finalidad del Tratamiento expuesta en la presente política.<br />

        Cualquier cambio sustancial en las presentes Políticas será comunicado oportunamente a los Titulares de los Datos Personales, de una manera eficiente, antes de implementar las nuevas políticas.<br />


    </p>
</div>
