<div class="row margin-bottom banner-verde">
    <div class="container">
        <br />
        <div class="col-xs-12 text-center">
            <h1 class="negrita">Registro exitoso</h1>
            <br />
        </div>

    </div>
</div>

<div class="container">
    <br />
    <div class="col-xs-12 text-center">
        <h3 class="negrita">Gracias por registrar está vacante, nos motiva mucho apoyarte a encontrar talento con ADN de impacto económico, social y ambiental. Antes de ser publicada, la vacante debe pasar por un proceso de moderación por parte del equipo de matteria. En breve nos pondremos en contacto contigo para revisar detalles de la publicación. </h3>
        <br />
        <br />
        <br />
        <img class="img-responsive img-circle" width="150" height="150" src="../images/correct.png" />
        <br />
        <br />
        <br />
        <br />
        <a class="btn btn-lg btn-primary" href="/perfilorganizacion">Regresar a mi perfil</a>
        <br />
        <br />
        <br />
        <br />
    </div>

</div>